<form  action='/result'>
  <div class="form-group">
    <label for="cents">Enter amount in cents</label>
    <input id="cents" name="cents" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Make change!</button>
</form>
